.node-unpublished,.comment-unpublished{background-color:#fff4f4;}.preview .node,.preview 
.comment{background-color:#ffffea;}#node-admin-filter ul{list-style-type:none;padding:0;margin:0;width:100%;}#node-admin-buttons{float:left;margin-left:0.5em;clear:right;}td.revision-current{background:#ffc;}.node-form 
.form-text{display:block;width:95%;}.node-form .container-inline .form-text{display:inline;width:auto;}.node-form 
.standard{clear:both;}.node-form textarea{display:block;width:95%;}.node-form .attachments 
fieldset{float:none;display:block;}.poll .bar{height:1em;margin:1px 0;background-color:#ddd;}.poll 
.bar .foreground{background-color:#000;height:1em;float:left;}.poll .links{text-align:center;}.poll 
.percent{text-align:right;}.poll .total{text-align:center;}.poll .vote-form{text-align:center;}.poll 
.vote-form .choices{text-align:left;margin:0 auto;display:table;}.node-form .poll-form 
fieldset{display:block;}fieldset{margin-bottom:1em;padding:.5em;}form{margin:0;padding:0;}hr{height:1px;border:1px 
solid gray;}img{border:0;}table{border-collapse:collapse;}th{text-align:left;padding-right:1em;border-bottom:3px 
solid #ccc;}.clear-block:after{content:&quot;.&quot;;display:block;height:0;clear:both;visibility:hidden;}.clear-block{display:inline-block;}/* 
Hides from IE-mac \*/* html .clear-block{height:1%;}.clear-block{display:block;}th.active 
img{display:inline;}tr.even,tr.odd{background-color:#eee;border-bottom:1px solid 
#ccc;padding:0.1em 0.6em;}td.active{background-color:#ddd;}tbody{border-top:1px 
solid #ccc;}tbody th{border-bottom:1px solid #ccc;}thead th{text-align:left;padding-right:1em;border-bottom:3px 
solid #ccc;}.breadcrumb{padding-bottom:.5em}.error{color:#f00;}div.error{border:1px 
solid #d77;}div.error,tr.error{background:#fcc;color:#200;}div.warning,tr.warning{background:#ffd;}div.ok,tr.ok{background:#dfd;}.item-list 
.icon{color:#555;float:right;padding-left:0.25em;clear:right;}.item-list .title{font-weight:bold;}.item-list 
ul{margin:0 0 0.75em 0;padding:0;}.item-list ul li{margin:0 0 0.25em 1.5em;padding:0;list-style:disc;}.form-item{margin-top:1em;margin-bottom:1em;}tr.odd 
.form-item,tr.even .form-item{margin-top:0;margin-bottom:0;white-space:nowrap;}tr.merge-down,tr.merge-down 
td,tr.merge-down th{border-bottom-width:0 !important;}tr.merge-up,tr.merge-up td,tr.merge-up 
th{border-top-width:0 !important;}.form-item input.error,.form-item textarea.error,.form-item 
select.error{border:2px solid red;}.form-item .description{font-size:0.85em;}.form-item 
label{display:block;font-weight:bold;}.form-item label.option{display:inline;font-weight:normal;}.form-checkboxes,.form-radios{margin:1em 
0;}.form-checkboxes .form-item,.form-radios .form-item{margin-top:0.4em;margin-bottom:0.4em;}.marker,.form-required{color:#f00;}.more-link{text-align:right;}.more-help-link{font-size:0.85em;text-align:right;}.nowrap{white-space:nowrap;}.pager{clear:both;text-align:center;}.pager 
a,.pager strong.pager-current{padding:0.5em;}.tips{margin-top:0;margin-bottom:0;padding-top:0;padding-bottom:0;font-size:0.9em;}dl.multiselect 
dd.b,dl.multiselect dd.b .form-item,dl.multiselect dd.b select{font-family:inherit;font-size:inherit;width:14em;}dl.multiselect 
dd.a,dl.multiselect dd.a .form-item{width:8em;}dl.multiselect dt,dl.multiselect 
dd{float:left;line-height:1.75em;padding:0;margin:0 1em 0 0;}dl.multiselect .form-item{height:1.75em;margin:0;}.container-inline 
div,.container-inline label{display:inline;}ul.menu{list-style:none;border:none;text-align:left;}ul.menu 
li{margin:0 0 0 0.5em;}li.expanded{list-style-type:circle;list-style-image:url(/swhockey/modules/system/../../misc/menu-expanded.png);padding:0.2em 
0.5em 0 0;margin:0;}li.collapsed{list-style-type:disc;list-style-image:url(/swhockey/modules/system/../../misc/menu-collapsed.png);padding:0.2em 
0.5em 0 0;margin:0;}li.leaf{list-style-type:square;list-style-image:url(/swhockey/modules/system/../../misc/menu-leaf.png);padding:0.2em 
0.5em 0 0;margin:0;}li a.active{color:#000;}td.menu-disabled{background:#ccc;}ul.links{margin:0;padding:0;}ul.links.inline{display:inline;}ul.links 
li{display:inline;list-style-type:none;padding:0 0.5em;}.block ul{margin:0;padding:0 
0 0.25em 1em;}ul.primary{border-collapse:collapse;padding:0 0 0 1em;white-space:nowrap;list-style:none;margin:5px;height:auto;line-height:normal;border-bottom:1px 
solid #bbb;}ul.primary li{display:inline;}ul.primary li a{background-color:#ddd;border-color:#bbb;border-width:1px;border-style:solid 
solid none solid;height:auto;margin-right:0.5em;padding:0 1em;text-decoration:none;}ul.primary 
li.active a{background-color:#fff;border:1px solid #bbb;border-bottom:#fff 1px solid;}ul.primary 
li a:hover{background-color:#eee;border-color:#ccc;border-bottom-color:#eee;}ul.secondary{border-bottom:1px 
solid #bbb;padding:0.5em 1em;margin:5px;}ul.secondary li{display:inline;padding:0 
1em;border-right:1px solid #ccc;}ul.secondary a{padding:0;text-decoration:none;}ul.secondary 
a.active{border-bottom:4px solid #999;}#autocomplete{position:absolute;border:1px 
solid;overflow:hidden;z-index:100;}#autocomplete ul{margin:0;padding:0;list-style:none;}#autocomplete 
li{background:#fff;color:#000;white-space:pre;cursor:default;}#autocomplete li.selected{background:#0072b9;color:#fff;}html.js 
input.form-autocomplete{background-image:url(/swhockey/modules/system/../../misc/throbber.gif);background-repeat:no-repeat;background-position:100% 
2px;}html.js input.throbbing{background-position:100% -18px;}html.js fieldset.collapsed{border-bottom-width:0;border-left-width:0;border-right-width:0;margin-bottom:0;height:1em;}html.js 
fieldset.collapsed *{display:none;}html.js fieldset.collapsed legend{display:block;}html.js 
fieldset.collapsible legend a{padding-left:15px;background:url(/swhockey/modules/system/../../misc/menu-expanded.png) 
5px 75% no-repeat;}html.js fieldset.collapsed legend a{background-image:url(/swhockey/modules/system/../../misc/menu-collapsed.png);background-position:5px 
50%;}* html.js fieldset.collapsed legend,* html.js fieldset.collapsed legend *,* 
html.js fieldset.collapsed table *{display:inline;}html.js fieldset.collapsible 
legend a{display:block;}html.js fieldset.collapsible .fieldset-wrapper{overflow:auto;}.resizable-textarea{width:95%;}.resizable-textarea 
.grippie{height:9px;overflow:hidden;background:#eee url(/swhockey/modules/system/../../misc/grippie.png) 
no-repeat center 2px;border:1px solid #ddd;border-top-width:0;cursor:s-resize;}html.js 
.resizable-textarea textarea{margin-bottom:0;width:100%;display:block;}.progress{font-weight:bold;}.progress 
.bar{background:#fff url(/swhockey/modules/system/../../misc/progress.gif);border:1px 
solid #00375a;height:1.5em;margin-top:0.2em;}.progress .filled{background:#0072b9;height:1em;border-bottom:0.5em 
solid #004a73;width:0%;}.progress .percentage{float:right;}#first-time strong{display:block;padding:1.5em 
0 .5em;}tr.selected td{background:#ffc;}#permissions td.module{font-weight:bold;}#permissions 
td.permission{padding-left:1.5em;}#access-rules .access-type,#access-rules .rule-type{margin-right:1em;float:left;}#access-rules 
.access-type .form-item,#access-rules .rule-type .form-item{margin-top:0;}#access-rules 
.mask{clear:both;}#user-login-form{text-align:center;}#user-admin-filter ul{list-style-type:none;padding:0;margin:0;width:100%;}#user-admin-buttons{float:left;margin-left:0.5em;clear:right;}.profile{clear:both;margin:1em 
0;}.profile .picture{float:right;margin:0 1em 1em 0;}.profile dt{margin:1em 0 0.2em 
0;font-weight:bold;}.profile dd{margin:0;}div.semi_trans,div.semi_trans_enhanced 
.cont,div.semi_trans_enhanced .expaned,div.semi_trans_enhanced .blck{width:99%;}div.semi_trans_enhanced{position:relative;}div.semi_trans_enhanced 
.cont{position:absolute;left:0;top:0;}div.semi_trans_enhanced .blck,div.block.semi_trans{filter:alpha(opacity=70);-moz-opacity:0.70;opacity:0.70;}div.semi_trans_enhanced 
.expaned{filter:alpha(opacity=0);-moz-opacity:0.0;opacity:0.0;}.block.semi_trans,.block.semi_trans_enhanced 
.blck{background-color:#FFFFFF;}.block .title{font-size:1.3em;color:#000000;padding:.3em 
.5em .3em .5em;}.block .content{padding:.5em 0 .5em 0;}.block{margin-bottom:50px;}.box 
.title{font-size:1.1em;}div.node .cont,div.node .blck,div.node .expaned{padding:.5em 
.5em .5em .5em;}div.node.semi_trans_enhanced .blck,div.node.semi_trans{filter:alpha(opacity=75);-moz-opacity:0.75;opacity:0.75;}div.node.semi_trans_enhanced 
.expaned{filter:alpha(opacity=0);-moz-opacity:0.0;opacity:0.0;}div.node.semi_trans,div.node.semi_trans_enhanced 
.blck{background-color:#FFFFFF;}div.node .title{border-bottom:1px solid #666666;font-size:1.2em;color:#FFF000}h1.title{border-bottom:1px 
solid #666666;font-size:1.3em;color:#000000}.maincontent{padding:.5em .5em .5em 
.5em;}div.maincontent.semi_trans_enhanced .blck,div.maincontent.semi_trans{filter:alpha(opacity=85);-moz-opacity:0.85;opacity:0.85;}div.maincontent.semi_trans_enhanced 
.expaned{filter:alpha(opacity=0);-moz-opacity:0.0;opacity:0.0;}.maincontent.semi_trans,.maincontent.semi_trans_enhanced 
.blck{background-color:#FFFFFF;}body{margin:10;padding:0;color:#000;font:78% Verdana,Arial,Helvetica,sans-serif;}#theme_page{height:100%;padding:0px;border-collapse:collapse;border:5px 
solid #C3D9FF;background:#616161 url(&#39;/swhockey/themes/swhockey/images/back4.jpg&#39;) 
no-repeat fixed;}#theme_content{padding:10px;}.site-header{padding:0.2em}#edit-body{background-color:#FFFFFF}.site-name{margin:0 
0 0 0;padding:0;font-size:2.5em;}.site-name a:link,.site-name a:visited{color:#fff;}.site-name 
a:hover{color:#369;text-decoration:none;}.site-slogan{font-size:1em;color:#eee;display:block;margin:0;font-style:italic;font-weight:bold;}#menu{padding:0.2em 
0.3em 0em 0.2em;text-align:center;vertical-align:middle;}#navlist{font-size:1.0em;padding:1em 
0.2em 0.2em 0em;color:#9cf;}#navlist a{font-weight:bold;color:#fff;}#subnavlist{padding:0.5em 
0.2em 0.0em 0em;font-size:0.9em;color:#9cf;}#subnavlist a{font-weight:bold;color:#9ef;}ul.links 
li{border-left:1px solid #9cf;}ul.links li.first{border:none;}#footer{background-color:#eee;padding:1em;font-size:0.8em;margin:5px;}#main{}#mission,.node 
.content,.comment .content{line-height:1.4em;}#help{font-size:0.9em;margin-bottom:1em;}.breadcrumb{margin-bottom:.5em;}.messages{background-color:#eee;border:1px 
solid #ccc;padding:0.3em;margin-bottom:1em;}.error{border-color:red;}#sidebar-left,#sidebar-right{width:16em; 
vertical-align:top;}table{display:table;border-spacing:0px;border-collapse:separate;margin-top:0;margin-bottom:0;-moz-box-sizing:border-box;text-indent:0;}tr.odd 
td,tr.even td{padding:0.2em;}TR.odd td{background:#ddd;}TR.even td{background:#eee;}h1,h2,h3,h4,h5,h6{margin-bottom:0.5em;}h1{font-size:1.3em;}h2{font-size:1.2em;}h3,h4,h5,h6{font-size:1.1em;}p{margin-top:0.5em;margin-bottom:0.9em;}a{text-decoration:none;font-weight:bold;}a:link{color:#39c;}a:visited{color:#369;}a:hover{color:#39c;text-decoration:underline;}fieldset{border:1px 
solid #ccc;}pre{background-color:#eee;padding:0.75em 1.5em;font-size:12px;border:1px 
solid #ddd;}table{ font-size:1em;}.form-item label{font-size:1em;color:#222;}.item-list 
.title{font-size:1em;color:#222;}.links{margin-bottom:0;}.comment .links{margin-bottom:0;}.title,.title 
a{font-weight:bold;font-size:1.3em;color:#777;margin:0 auto;}.submitted{color:#999;font-size:0.8em;}.links{color:#999;}.links 
a{font-weight:bold;}.node{margin:.5em 0 2em 0;}.sticky{padding:.5em;background-color:#eee;border:solid 
1px #ddd;}.node .content,.comment .content{margin:.5em 0 .5em 0;}.node .taxonomy{color:#999;font-size:0.8em;padding-left:1.5em;}.node 
.picture{border:1px solid #ddd;float:right;margin:0.5em;}.comment{border:1px solid 
#abc;padding:.5em;margin-bottom:1em;}.comment .title a{font-size:1.1em;font-weight:normal;}.comment 
.new{text-align:right;font-weight:bold;font-size:0.8em;float:right;color:red;}.comment 
.picture{border:1px solid #abc;float:right;margin:0.5em;}#aggregator .feed-source{background-color:#eee;border:1px 
solid #ccc;padding:1em;margin:1em 0;}#aggregator .news-item .categories,#aggregator 
.source,#aggregator .age{color:#999;font-style:italic;font-size:0.9em;}#aggregator 
.title{margin-bottom:0.5em;font-size:1em;}#aggregator h3{margin-top:1em;}#forum 
table{width:100%;}#forum td{padding:0.5em;}#forum td.forum,#forum td.posts{background-color:#eee;}#forum 
td.topics,#forum td.last-reply{background-color:#ddd;}#forum td.container{background-color:#ccc;}#forum 
td.container a{color:#555;}#forum td.statistics,#forum td.settings,#forum td.pager{height:1.5em;border:1px 
solid #bbb;}#forum td .name{color:#96c;}#forum td .links{padding-top:0.7em;font-size:0.9em;}#profile 
.profile{clear:both;border:1px solid #abc;padding:.5em;margin:1em 0em;}#profile 
.profile .name{padding-bottom:0.5em;}.block-forum h3{margin-bottom:.5em;}div.admin-panel 
.description{color:#999;}div.admin-panel .body{background-color:#f4f4f4;width:95%;align:center;}div.admin-panel 
h3{background-color:#69c;color:#fff;padding:5px 8px 5px;margin:0;}